html, * {
 margin: 0;
 padding:0
}

body {
 font-size: 62.5%;
 /*font-family: Calibri, 'Lucida Sans', 'Lucida Grande';*/
 font-family: 'Open Sans', sans-serif;
 background-color: #EEE;
}

p {
 margin-bottom: 10px;
}

.container {
 font-size: 17px;
 margin: 20px auto;
 width: 960px;
}

.table {
 position: relative;
 width: 100%;
 font-weight: 300;
 background-color: #FFF;
 border-collapse: collapse;
 box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.table-footer {
	display: block;
	position: relative;
	height: 15px;
	background-color: #FFF;
}

.table-footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 15px;
	display: block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}


.table-filter td {
    text-align: right;
    padding: 14px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.table-head th, .table-body td {
    padding: 14px 10px;
    text-align: left;
}

.table-head th {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.table-body td {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
